<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi-blog</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>

<header class="card" id="head">
    <h1>Chi-blog</h1>
    <div class="head" id="top">
        <a href="about.ejs"><h3 id="about">About us</h3></a>
        <a href="home.ejs"><h3 id="home">Home</h3></a>
    </div>
</header>
<main class="container">